.DS_Store
*.pyc
__pycache__
__pycache__/*
core.egg-info
core.egg-info/

# static folder (css, js, etc) local
# static
# static/*

# vscode settings
.vscode/*

venv/*
.vscode/*
constants.py
__pycache__/*

# audio
files/result.mp3